@import 'src/app/style/colors.scss';

.controls-overlay-container {
  display: flex;
  align-items: center;
  justify-content: center;
  
  .controls-overlay {
    pointer-events: all;
    background-color: rgba($color-portal-black, 0.8);
    border-radius: 14px;
    padding: 14px;

    position: absolute;
    bottom: 40px;

    .control-button-container {
      display: flex;
      margin-top: 10px;
      gap: 10px;
      padding-left: 4px;

      .control-button {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        border: none;
        cursor: pointer;

        .icon {
          color: $color-moonrock-gray;
          font-size: 32px;
          transition: color 100ms ease;

          &.play-pause-button {
            font-size: 28px;
          }
        }

        &.exit-button {
          margin-left: auto;
        }

        &:hover {
          .icon {        
            color: $color-laser-red;
          }
        }
      }
    }
  }
}
