@import 'src/app/style/colors.scss';

$progress-bar-transition-time: 50ms;

.progress-bar-container {
  position: relative;
  min-width: 400px;
  height: 16px;
  cursor: pointer;

  display: flex;
  align-items: center;

  transition: height $progress-bar-transition-time linear;

  .progress-bar-track-container {
    width: 100%;
    height: 4px;
    border-radius: 500px;
    overflow: hidden;
    
    .progress-bar-track {
      position: relative;
      width: 100%;
      height: 100%;
      background-color: $color-moonrock-gray;

      .progress-bar-progress {
        height: 100%;
        background-color: $color-laser-red;
      }
    }
  }

  .progress-bar-thumb {
    // Change size in ProgressBar.tsx - PROGRESS_BAR_THUMB_SIZE
    border-radius: 500px;
    background-color: $color-laser-red;
    position: absolute;
    transform: scale(0);

    transition: transform $progress-bar-transition-time linear;

    &:hover {
      filter: brightness(0.8);
    }
  }

  &:hover {
    .progress-bar-track-container {
      height: 8px;
    }

    .progress-bar-thumb {
      transform: scale(1);
    }
  }
}