$icomoon-font-family: "intern-font" !default;
$icomoon-font-path: "fonts" !default;

$icon-dot: "\e900";
$icon-back-arrow: "\e901";
$icon-chevron-left: "\e902";
$icon-chevron-right: "\e903";
$icon-hamburger: "\e904";
$icon-more: "\e905";
$icon-open-in-new: "\e906";
$icon-x: "\e907";
$icon-d-view: "\e908";
$icon-view: "\e909";
$icon-complete-scan: "\e90a";
$icon-simple-scan: "\e90b";
$icon-smartphone: "\e90c";
$icon-camera: "\e90d";
$icon-checkmark: "\e90e";
$icon-folder: "\e90f";
$icon-gps: "\e910";
$icon-info: "\e911";
$icon-notification: "\e912";
$icon-save: "\e913";
$icon-stop: "\e914";
$icon-undo: "\e915";
$icon-wifi: "\e916";
$icon-x-clear: "\e917";
$icon-360: "\e918";
$icon-add-image: "\e919";
$icon-add: "\e91a";
$icon-archive: "\e91b";
$icon-arrow-down: "\e91c";
$icon-arrow-left: "\e91d";
$icon-arrow-right: "\e91e";
$icon-arrow-up: "\e91f";
$icon-attachment: "\e920";
$icon-audio-off: "\e921";
$icon-audio-on: "\e922";
$icon-avatar: "\e923";
$icon-blur: "\e925";
$icon-booked-path1: "\e926";
$icon-booked-path2: "\e927";
$icon-brush-outlined: "\e928";
$icon-brush: "\e929";
$icon-calendar: "\e92a";
$icon-cancelled-path1: "\e92b";
$icon-cancelled-path2: "\e92c";
$icon-capture-services: "\e92d";
$icon-check: "\e92e";
$icon-chevron-down: "\e92f";
$icon-chevron-left1: "\e930";
$icon-chevron-right1: "\e931";
$icon-chevron-up: "\e932";
$icon-close: "\e933";
$icon-collapse: "\e934";
$icon-comment: "\e935";
$icon-dashboard: "\e936";
$icon-delete-path1: "\e937";
$icon-delete-path2: "\e938";
$icon-discover: "\e939";
$icon-dollhouse: "\e93a";
$icon-download: "\e93b";
$icon-edit: "\e93c";
$icon-error: "\e93d";
$icon-expand: "\e93e";
$icon-face-blurring: "\e93f";
$icon-favorite-outline: "\e940";
$icon-favorite-solid: "\e941";
$icon-floors: "\e942";
$icon-folder1: "\e943";
$icon-google-calendar-path1: "\e944";
$icon-google-calendar-path2: "\e945";
$icon-google-calendar-path3: "\e946";
$icon-google-calendar-path4: "\e947";
$icon-google-calendar-path5: "\e948";
$icon-google-calendar-path6: "\e949";
$icon-google-calendar-path7: "\e94a";
$icon-google-calendar-path8: "\e94b";
$icon-google-path1: "\e94c";
$icon-google-path2: "\e94d";
$icon-google-path3: "\e94e";
$icon-google-path4: "\e94f";
$icon-grid: "\e950";
$icon-help-1: "\e951";
$icon-help-path1: "\e952";
$icon-help-path2: "\e953";
$icon-highlight-reel: "\e954";
$icon-image-gallery: "\e955";
$icon-images: "\e956";
$icon-in-progress-path1: "\e957";
$icon-in-progress-path2: "\e958";
$icon-in-progress-path3: "\e959";
$icon-in-progress-path4: "\e95a";
$icon-info1-path1: "\e95b";
$icon-info1-path2: "\e95c";
$icon-invisible: "\e95d";
$icon-invoice: "\e95e";
$icon-iosappstore: "\e95f";
$icon-label: "\e960";
$icon-labels: "\e961";
$icon-link: "\e962";
$icon-list: "\e963";
$icon-location: "\e964";
$icon-mattertags: "\e965";
$icon-measurement: "\e966";
$icon-menu: "\e967";
$icon-mesh: "\e968";
$icon-more-burger: "\e969";
$icon-more-kebab: "\e96a";
$icon-move: "\e96b";
$icon-none: "\e96c";
$icon-notes: "\e96d";
$icon-notification1-path1: "\e96e";
$icon-notification1-path2: "\e96f";
$icon-notifications: "\e970";
$icon-oculus: "\e971";
$icon-olark: "\e972";
$icon-photos: "\e973";
$icon-play: "\e974";
$icon-playstore: "\e975";
$icon-position: "\e976";
$icon-restart: "\e978";
$icon-revert: "\e979";
$icon-save-outline: "\e97a";
$icon-save-solid: "\e97b";
$icon-search: "\e97c";
$icon-settings: "\e97d";
$icon-share: "\e97e";
$icon-showcase-play: "\e97f";
$icon-snap: "\e980";
$icon-start-location: "\e981";
$icon-stem: "\e982";
$icon-subtract-1: "\e983";
$icon-subtract: "\e984";
$icon-tamagachi: "\e985";
$icon-time: "\e986";
$icon-transitions: "\e987";
$icon-trash: "\e988";
$icon-trim: "\e989";
$icon-upload: "\e98a";
$icon-users: "\e98b";
$icon-visible: "\e98c";
$icon-x-clear1: "\e98d";
$icon-add1: "\e98e";
$icon-ascending-sorted: "\e98f";
$icon-bullet: "\e991";
$icon-check-box-selected-path1: "\e992";
$icon-check-box-selected-path2: "\e993";
$icon-check1: "\e995";
$icon-chevron-down1: "\e996";
$icon-chevron-up1: "\e997";
$icon-cloud: "\e998";
$icon-code: "\e999";
$icon-dash: "\e99a";
$icon-descending-sorted: "\e99b";
$icon-help1: "\e99d";
$icon-mail: "\e99e";
$icon-multi-select: "\e99f";
$icon-radio-button-selected: "\e9a0";
$icon-radio-button-unselected: "\e9a1";
$icon-search1: "\e9a2";
$icon-sorted-ascending: "\e9a3";
$icon-sorted-descending: "\e9a4";
$icon-subtract1: "\e9a6";

