.app {
  height: 100vh;
  display: flex;

  // for some reason the accordion groups would extend a little past the bottom
  // so this is a hacky fix
  overflow: hidden;

  #frame-container {
    width: 100%;
    position: relative;

    #overlay-container {
      position: absolute;
      inset: 0;
      pointer-events: none;

      display: flex;
      align-items: center;
      justify-content: center;

      .nofly-button-container {
        pointer-events: all;
        position: absolute;
        bottom: 40px;
        display: flex;
        justify-content: center;
        align-items: center;

        .clear-button {
          position: absolute;
          left: calc(100% + 20px);

          button {
            width: 48px;
            height: 48px;
          }
        }
      }
    }
  }
}