@import 'src/app/style/variables.scss';

.menu {
  height: 100vh;
  width: 40ch;

  .menu-header {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 5px 8px 10px;

    button.menu-close-button {
      cursor: pointer;
      margin-left: auto;
      // center 'x' icon
      display: flex;
      align-items: center;
      justify-content: center;

      border: none;
      background: transparent;

      transition: all 250ms ease;

      &:hover {
        opacity: 0.6;
      }

      img.icon-x-lg {
        height: 16px;
      }
    }
  }
}