@import 'src/app/style/colors.scss';

.menu-button-container {
  position: absolute;
  top: 8px;
  right: 4px;

  button.menu-button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;

    .icon {
      font-size: 44px;
      color: $color-white;
      
      transition: all 250ms ease;
    }

    &:hover {
      .icon {
        color: $color-laser-red;
      }
    }
  }
}