.accordion {
  .accordion-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;

    background-color: rgb(255, 255, 255);
    font-weight: bold;
    height: 28px;
    font-size: 16px;
  }

  height: 100%;
  overflow-y: scroll;
  overflow-y: overlay;

  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgb(136, 136, 136);
    border-radius: 5px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
}
