@import 'src/app/style/colors.scss';

// Change height in AccordionItem.tsx - ACCORDION_ITEM_HEIGHT

.accordion-item {
  cursor: pointer;
  padding: 0 15px;

  font-size: 13px;
  box-sizing: border-box;
  
  .accordion-item-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  &:not(:last-child) {
    border-bottom: 1px solid $color-moonrock-gray;
  }
  
  &.selected {
    font-weight: bold;
  }

  &:hover {
    background: $color-moonrock-gray;
  }
}