.accordion-group-container {
  .accordion-group-header {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 32px;
    padding: 0 10px;
    background-color: rgb(235, 235, 235);
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      background-color: rgb(212, 212, 212);
    }
  }
  
  .accordion-group {
    transition: height 250ms ease;
    overflow: hidden;
  }
}