.accordion-group-container {

  &.collapsed {
    box-sizing: border-box;

    .accordion-group-header {
      border-bottom: 1px solid rgb(212, 212, 212);
    }

    .accordion-icon.icon-chevron-down {
      transform: rotate(-180deg);
    }
  }

  .accordion-group-header {
    display: flex;
    align-items: center;

    height: 32px;
    padding: 0 10px;
    background-color: rgb(235, 235, 235);
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;

    .accordion-icon.icon-chevron-down {
      margin-left: auto;
      transition: transform 100ms linear;
      height: 14px;
    }

    &:hover {
      background-color: rgb(212, 212, 212);
    }
  }
  
  .accordion-group {
    transition: height 250ms ease;
    overflow: hidden;
  }
}