@import 'src/app/style/colors.scss';

.accordion {
  .accordion-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
    border-bottom: 2px solid $color-tangent-gray;

    background-color: $color-white;
    height: 28px;
    font-size: 16px;
  }

  height: 100%;

  .accordion-groups {
    height: 100%;
    overflow-y: scroll;
    overflow-y: overlay;

    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $color-tangent-gray;
      border-radius: 5px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
  }
}
