$color-laser-red: #FF3158;

$color-white: #FFFFFF;
$color-moonrock-gray: #F5F4F3;
$color-mirror-gray: #DADADA;
$color-sine-gray: #B5B4B3;
$color-cosine-gray: #999999;
$color-tangent-gray: #6D6D6D;
$color-lens-gray: #444444;
$color-portal-black: #222222;

$color-naiad-blue: #8BBBFF;
$color-neutron-blue: #5C7FFF;
$color-neptune-blue: #385DFF;
$color-triton-blue: #0000EA;

$color-sputnik-green: #00DD99;
$color-proton-green: #00A170;
$color-earth-green: #007D57;
$color-iss-green: #006644;

$color-ring-yellow: #FFDD55;
$color-electron-yellow: #FFBB00;
$color-saturn-yellow: #C99100;
$color-titan-yellow: #906900;

$color-deimos-orange: #FF9955;
$color-gamma-orange: #FA5300;
$color-mars-orange: #C74200;
$color-phobos-orange: #AA3300;