@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&family=Roboto:wght@100;300;400;700&display=swap');
@import 'src/app/style/colors.scss';

body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-portal-black;
}

.header-font {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
}

.button-font {
  font-family: 'IBM Plex Sans';
  font-weight: bold;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

/* These elements don't inherit font-family by default */
input, select, textarea, button{font-family:inherit;}